Repository groupsky/ya-modbus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(e2e): resolve critical race conditions and configuration issues
  .github/workflows/e2e-tests.yml
  tests/e2e/DESIGN.md
  tests/e2e/README.md
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/setup/cleanup.sh
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

fix(emulator): remove event listeners in TCP/RTU transport stop() (#270)
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): reject TCP start() Promise on port binding errors
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(e2e): correct docker-compose.yml path in MQTT connection test
  tests/e2e/tests/01-environment.bats
Due: none

fix(emulator): add type cast for error event to satisfy TypeScript
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

feat(e2e): add timing and output options to test runner
  tests/e2e/run-tests.sh
Due: none

fix(emulator): reject TCP start() Promise on port binding errors (#277)
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

perf(e2e): optimize virtual port connectivity test from 3s to 621ms
  tests/e2e/tests/01-environment.bats
Due: none

perf(e2e): optimize virtual port test from 621ms to 16ms (39x faster)
  tests/e2e/tests/01-environment.bats
Due: none

perf(e2e): optimize emulator startup tests from ~6s to ~300ms (20x faster)
  tests/e2e/tests/helpers.bash
Due: none

fix(emulator): clean up TCP transport event listeners on initialization failure
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

feat(e2e): add BATS infrastructure testing with scheduled workflows (#236)
  .github/workflows/e2e-tests.yml
  .gitmodules
  package.json
  tests/e2e/DESIGN.md
  tests/e2e/README.md
  tests/e2e/docker-compose.yml
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/fixtures/emulators/port1-single-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/fixtures/mosquitto.conf
  tests/e2e/run-tests.sh
  tests/e2e/setup/cleanup.sh
  tests/e2e/setup/create-virtual-ports.sh
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/02-emulator.bats
  tests/e2e/tests/99-cleanup.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

fix(emulator): clean up RTU transport event listener on initialization failure
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
Due: prettier --write, eslint --fix

fix(emulator): clean up TCP transport event listeners on initialization failure (#284)
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): clean up RTU transport event listener on initialization failure (#283)
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
Due: prettier --write, eslint --fix

fix(emulator): prevent race condition when stop() called during TCP initialization
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): address critical issues in TCP transport race condition fix
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): use delete operator for optional properties in TCP transport
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): prevent race condition when stop() called during TCP initialization (#292)
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

refactor(emulator): improve RTU transport response parsing robustness
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.ts
  packages/emulator/src/utils/modbus-protocol-helpers.test.ts
  packages/emulator/src/utils/modbus-protocol-helpers.ts
Due: prettier --write, eslint --fix

fix(emulator): add missing validation to parseCoilReadResponse
  packages/emulator/src/utils/modbus-protocol-helpers.test.ts
  packages/emulator/src/utils/modbus-protocol-helpers.ts
Due: prettier --write, eslint --fix

refactor(emulator): extract common validation logic in response parsers
  packages/emulator/src/utils/modbus-protocol-helpers.ts
Due: prettier --write, eslint --fix

refactor(emulator): improve RTU transport response parsing robustness (#302)
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.ts
  packages/emulator/src/utils/modbus-protocol-helpers.test.ts
  packages/emulator/src/utils/modbus-protocol-helpers.ts
Due: prettier --write, eslint --fix

test(emulator): reproduce #303 async callback incompatibility with modbus-serial
  packages/emulator/src/transports/rtu.async-compat.test.ts
  packages/emulator/src/transports/tcp.async-compat.test.ts
Due: prettier --write, eslint --fix

fix(emulator): convert service vector callbacks from Promise to callback-style for modbus-serial compatibility
  packages/emulator/src/emulator.rtu.integration.test.ts
  packages/emulator/src/emulator.tcp.integration.test.ts
  packages/emulator/src/transports/rtu.async-compat.test.ts
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.async-compat.test.ts
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

refactor(emulator): extract duplicated callServiceVector test helper
  packages/emulator/src/emulator.rtu.integration.test.ts
  packages/emulator/src/emulator.tcp.integration.test.ts
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/test-helpers.ts
Due: prettier --write, eslint --fix

fix(emulator): correct callback signatures for single register reads
  packages/emulator/src/emulator.rtu.integration.test.ts
  packages/emulator/src/emulator.tcp.integration.test.ts
  packages/emulator/src/transports/rtu.async-compat.test.ts
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.async-compat.test.ts
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): ensure callback signature compliance with FCallbackVal type
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.ts
  packages/emulator/src/transports/test-helpers.ts
Due: prettier --write, eslint --fix

test(emulator): increase transport test coverage to ~95% statements, ~73% branches
  packages/emulator/src/transports/rtu.async-compat.test.ts
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/tcp.async-compat.test.ts
  packages/emulator/src/transports/tcp.test.ts
Due: prettier --write, eslint --fix

fix(emulator): convert service vector callbacks to callback-style for modbus-serial compatibility (#303) (#304)
  packages/emulator/src/emulator.rtu.integration.test.ts
  packages/emulator/src/emulator.tcp.integration.test.ts
  packages/emulator/src/transports/rtu.async-compat.test.ts
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.async-compat.test.ts
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
  packages/emulator/src/transports/test-helpers.ts
Due: prettier --write, eslint --fix

test(e2e): strengthen CLI test assertions
  tests/e2e/tests/04-cli.bats
Due: none

refactor(e2e): extract CLI path to helper variable
  tests/e2e/tests/04-cli.bats
Due: none

test(e2e): add CLI tools E2E tests
  tests/e2e/tests/04-cli.bats
Due: none

test(e2e): enable read tests and fix assertions
  tests/e2e/tests/04-cli.bats
Due: none

feat(emulator): add VerboseLogger for logging Modbus operations
  packages/emulator/src/verbose-logger.test.ts
  packages/emulator/src/verbose-logger.ts
Due: prettier --write, eslint --fix

test(e2e): add CLI tools E2E tests (#285)
  tests/e2e/tests/04-cli.bats
Due: none

feat(emulator): integrate verbose logging into emulator core
  packages/emulator/src/behaviors/function-codes.ts
  packages/emulator/src/emulator-verbose.test.ts
  packages/emulator/src/emulator.ts
  packages/emulator/src/types/config.ts
  packages/emulator/src/verbose-logger.test.ts
Due: prettier --write, eslint --fix

feat(emulator): wire verbose flag from CLI to emulator config
  packages/emulator/src/cli.ts
Due: prettier --write, eslint --fix

test(e2e): add show-defaults command tests
  tests/e2e/tests/04-cli.bats
Due: none

test(e2e): add discover command tests
  tests/e2e/tests/04-cli.bats
Due: none

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs,mjs})) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
