Repository groupsky/ya-modbus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{js,jsx,cjs,mjs}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(emulator): eliminate array allocation overhead when verbose disabled
  packages/emulator/src/behaviors/function-codes.ts
Due: prettier --write, eslint --fix

chore(emulator): remove unused --log-requests CLI flag
  packages/emulator/src/cli.ts
Due: prettier --write, eslint --fix

refactor(emulator): eliminate code duplication in VerboseLogger
  packages/emulator/src/verbose-logger.ts
Due: prettier --write, eslint --fix

test(e2e): remove skipped thorough strategy test
  tests/e2e/tests/04-cli.bats
Due: none

docs(emulator): add verbose logging guide and improve test coverage (#313)
  packages/emulator/README.md
  packages/emulator/src/verbose-logger.test.ts
Due: prettier --write, eslint --fix

test(e2e): make multi-device test actually find multiple devices
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/tests/04-cli.bats
Due: prettier --write

test(e2e): add discover and show-defaults command tests (#315)
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/tests/04-cli.bats
Due: prettier --write

feat(emulator): add verbose logging for Modbus operations (#316)
  packages/emulator/README.md
  packages/emulator/src/behaviors/function-codes.ts
  packages/emulator/src/cli.ts
  packages/emulator/src/emulator-verbose.test.ts
  packages/emulator/src/emulator.ts
  packages/emulator/src/types/config.ts
  packages/emulator/src/verbose-logger.test.ts
  packages/emulator/src/verbose-logger.ts
Due: prettier --write, eslint --fix

feat(cli): add ID range parser utility
  packages/cli/src/utils/parse-id-range.test.ts
  packages/cli/src/utils/parse-id-range.ts
Due: prettier --write, eslint --fix

feat(cli): add slave ID filtering to parameter generator
  packages/cli/src/discovery/parameter-generator.test.ts
  packages/cli/src/discovery/parameter-generator.ts
Due: prettier --write, eslint --fix

feat(cli): add --id option to discover command
  packages/cli/src/commands/discover.ts
  packages/cli/src/index.ts
Due: prettier --write, eslint --fix

test(cli): add E2E tests for discover --id option
  packages/cli/src/commands/discover.test.ts
Due: prettier --write, eslint --fix

docs(cli): document --id option for discover command
  packages/cli/docs/discover-command.md
Due: prettier --write

test(cli): update help text snapshot for --id option
  packages/cli/src/index.test.ts
Due: prettier --write, eslint --fix

refactor(e2e): improve emulator helper with verbose logging support
  tests/e2e/tests/helpers.bash
Due: none

refactor(emulator): eliminate DRY violation in handleWriteMultipleRegisters
  packages/emulator/src/behaviors/function-codes.ts
Due: prettier --write, eslint --fix

fix(cli): make countParameterCombinations respect slaveIds filter
  packages/cli/src/discovery/parameter-generator-utils.test.ts
  packages/cli/src/discovery/parameter-generator-utils.ts
Due: prettier --write, eslint --fix

fix(cli): reject empty ID specifications with clear error
  packages/cli/src/utils/parse-id-range.test.ts
  packages/cli/src/utils/parse-id-range.ts
Due: prettier --write, eslint --fix

fix(cli): reject decimal numbers in ID specifications
  packages/cli/src/utils/parse-id-range.test.ts
  packages/cli/src/utils/parse-id-range.ts
Due: prettier --write, eslint --fix

fix(cli): add type guard for split array elements
  packages/cli/src/utils/parse-id-range.ts
Due: prettier --write, eslint --fix

revert(e2e): remove helpers.bash changes from PR
  tests/e2e/tests/helpers.bash
Due: none

refactor(emulator): eliminate DRY violation in handleWriteMultipleRegisters (#322)
  packages/emulator/src/behaviors/function-codes.ts
Due: prettier --write, eslint --fix

feat(cli): add --id option to discover command for slave ID filtering (#321)
  packages/cli/docs/discover-command.md
  packages/cli/src/commands/discover.test.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/discovery/parameter-generator-utils.test.ts
  packages/cli/src/discovery/parameter-generator-utils.ts
  packages/cli/src/discovery/parameter-generator.test.ts
  packages/cli/src/discovery/parameter-generator.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/parse-id-range.test.ts
  packages/cli/src/utils/parse-id-range.ts
Due: prettier --write, eslint --fix

test(e2e): add verbose logging verification for CLI commands
  tests/e2e/tests/04-cli.bats
Due: none

test(e2e): add verbose logging verification for CLI commands (#323)
  tests/e2e/tests/04-cli.bats
  tests/e2e/tests/helpers.bash
Due: none

feat(cli): add --parity and --baud-rate filters to discover command
  packages/cli/src/commands/discover.test.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/discovery/parameter-generator-utils.ts
  packages/cli/src/discovery/parameter-generator.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/parse-baud-rate.test.ts
  packages/cli/src/utils/parse-baud-rate.ts
  packages/cli/src/utils/parse-parity.test.ts
  packages/cli/src/utils/parse-parity.ts
Due: prettier --write, eslint --fix

refactor(cli): extract generic spec merging utility
  packages/cli/src/commands/discover.ts
  packages/cli/src/utils/merge-specs.test.ts
  packages/cli/src/utils/merge-specs.ts
Due: prettier --write, eslint --fix

test(cli): update help snapshot for new discover options
  packages/cli/src/index.test.ts
Due: prettier --write, eslint --fix

docs(cli): add --parity and --baud-rate to discover-command.md
  packages/cli/docs/discover-command.md
Due: prettier --write

test(e2e): add tests for --parity and --baud-rate filters
  tests/e2e/tests/04-cli.bats
Due: none

refactor(cli): extract generic parser abstraction to eliminate DRY violations
  packages/cli/src/commands/discover.ts
  packages/cli/src/utils/parse-baud-rate.ts
  packages/cli/src/utils/parse-id-range.ts
  packages/cli/src/utils/parse-integer.test.ts
  packages/cli/src/utils/parse-integer.ts
  packages/cli/src/utils/parse-parity.ts
  packages/cli/src/utils/parse-spec.test.ts
  packages/cli/src/utils/parse-spec.ts
Due: prettier --write, eslint --fix

docs(cli): document new --parity and --baud-rate filters
  packages/cli/README.md
Due: prettier --write

test(cli): increase branch coverage for discover command
  packages/cli/src/commands/discover.test.ts
Due: prettier --write, eslint --fix

feat(cli): add --parity and --baud-rate filters to discover command (#332)
  packages/cli/README.md
  packages/cli/docs/discover-command.md
  packages/cli/src/commands/discover.test.ts
  packages/cli/src/commands/discover.ts
  packages/cli/src/discovery/parameter-generator-utils.ts
  packages/cli/src/discovery/parameter-generator.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/merge-specs.test.ts
  packages/cli/src/utils/merge-specs.ts
  packages/cli/src/utils/parse-baud-rate.test.ts
  packages/cli/src/utils/parse-baud-rate.ts
  packages/cli/src/utils/parse-id-range.ts
  packages/cli/src/utils/parse-integer.test.ts
  packages/cli/src/utils/parse-integer.ts
  packages/cli/src/utils/parse-parity.test.ts
  packages/cli/src/utils/parse-parity.ts
  packages/cli/src/utils/parse-spec.test.ts
  packages/cli/src/utils/parse-spec.ts
  tests/e2e/tests/04-cli.bats
Due: prettier --write, eslint --fix

feat(mqtt-bridge): add devices array to MqttBridgeConfig
  packages/mqtt-bridge/src/types.ts
Due: prettier --write, eslint --fix

test(mqtt-bridge): add device array validation tests
  packages/mqtt-bridge/src/utils/config-validator.test.ts
  packages/mqtt-bridge/src/utils/config-validator.ts
Due: prettier --write, eslint --fix

feat(mqtt-bridge): load devices from config in CLI
  packages/mqtt-bridge/src/cli.test.ts
  packages/mqtt-bridge/src/cli.ts
Due: prettier --write, eslint --fix

docs(mqtt-bridge): add device configuration examples
  packages/mqtt-bridge/README.md
Due: prettier --write

feat(mqtt-bridge): add device loading from config (#341)
  packages/mqtt-bridge/README.md
  packages/mqtt-bridge/src/cli.test.ts
  packages/mqtt-bridge/src/cli.ts
  packages/mqtt-bridge/src/types.ts
  packages/mqtt-bridge/src/utils/config-validator.test.ts
  packages/mqtt-bridge/src/utils/config-validator.ts
Due: prettier --write, eslint --fix
