Repository groupsky/ya-modbus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{js,jsx,cjs,mjs}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

test(emulator): add integration tests for lock value passthrough
  packages/emulator/src/emulator.rtu.integration.test.ts
Due: prettier --write, eslint --fix

test(emulator): add combination test for lock with other serial parameters
  packages/emulator/src/transports/rtu.test.ts
Due: prettier --write, eslint --fix

feat(emulator): add configurable lock option for RTU transport (#263)
  packages/emulator/README.md
  packages/emulator/examples/config-files/basic-rtu.yaml
  packages/emulator/examples/config-files/multi-device.yaml
  packages/emulator/examples/virtual-serial-test.md
  packages/emulator/src/cli.ts
  packages/emulator/src/emulator.rtu.integration.test.ts
  packages/emulator/src/emulator.test.ts
  packages/emulator/src/emulator.ts
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/types/config.ts
  packages/emulator/src/utils/config-loader.ts
Due: prettier --write, eslint --fix

refactor(e2e): remove automatic issue notification job
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix(e2e): add top-level workflow permissions for security compliance
  .github/workflows/e2e-tests.yml
Due: prettier --write

refactor(e2e): improve test robustness and documentation compliance
  .github/workflows/e2e-tests.yml
  tests/e2e/DESIGN.md
  tests/e2e/README.md
  tests/e2e/run-tests.sh
  tests/e2e/setup/cleanup.sh
  tests/e2e/setup/create-virtual-ports.sh
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

fix(e2e): verify MQTT subscription via broker logs instead of arbitrary delay
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/helpers.bash
Due: none

refactor(emulator): remove redundant setInterval keepalive from CLI
  packages/emulator/src/cli.ts
Due: prettier --write, eslint --fix

fix(e2e): skip change check on manual trigger and use BATS from submodule
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix(e2e): add netcat-openbsd to system dependencies
  .github/workflows/e2e-tests.yml
Due: prettier --write

feat(tests): add E2E test infrastructure and environment setup
  tests/e2e/docker-compose.yml
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/fixtures/devices/ex9em-device1.json
  tests/e2e/fixtures/devices/or-we-516-device2.json
  tests/e2e/fixtures/devices/xymd1-device1.json
  tests/e2e/fixtures/mosquitto.conf
  tests/e2e/run-tests.sh
  tests/e2e/setup/cleanup.sh
  tests/e2e/setup/create-virtual-ports.sh
  tests/e2e/setup/start-emulator.js
Due: prettier --write

refactor(mqtt-bridge): remove deprecated E2E testing code
  packages/mqtt-bridge/jest.config.cjs
  packages/mqtt-bridge/test/e2e/DESIGN.md
  packages/mqtt-bridge/test/e2e/helpers/virtual-ports.test.ts
  packages/mqtt-bridge/test/e2e/helpers/virtual-ports.ts
  packages/mqtt-bridge/tsconfig.lint.json
Due: prettier --write, eslint --fix

docs(tests): add infrastructure-level E2E testing design
  tests/e2e/DESIGN.md
Due: prettier --write

feat(tests): add BATS integration tests for E2E testing
  tests/e2e/README.md
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/02-emulator.bats
  tests/e2e/tests/99-cleanup.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

fix(e2e): correct test file paths to work from tests/e2e directory
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/02-emulator.bats
  tests/e2e/tests/99-cleanup.bats
  tests/e2e/tests/helpers.bash
Due: none

fix(e2e): standardize sleep to 0.1s in GitHub Actions workflow
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix(e2e): use RTU transport and remove redundant device configs
  tests/e2e/fixtures/devices/ex9em-device1.json
  tests/e2e/fixtures/devices/or-we-516-device2.json
  tests/e2e/fixtures/devices/xymd1-device1.json
  tests/e2e/fixtures/emulators/port1-single-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
Due: prettier --write

fix(e2e): accept zombie state as successful termination in stop test
  tests/e2e/tests/02-emulator.bats
Due: none

docs(mqtt-bridge): add E2E integration testing design
  packages/mqtt-bridge/test/e2e/DESIGN.md
Due: prettier --write

fix(e2e): wait for zombie process reaping in graceful stop test
  tests/e2e/tests/02-emulator.bats
Due: none

test(e2e): improve environment tests validation
  tests/e2e/tests/01-environment.bats
Due: none

feat(tests): add bats-core as submodule and fix emulator keepalive
  .github/workflows/e2e-tests.yml
  .gitmodules
  tests/e2e/README.md
  tests/e2e/run-tests.sh
  tests/e2e/setup/start-emulator.js
Due: prettier --write

refactor(e2e): use emulator CLI instead of custom script
  packages/emulator/src/cli.ts
  tests/e2e/fixtures/emulators/port1-single-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/setup/start-emulator.js
  tests/e2e/tests/02-emulator.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write, eslint --fix

feat(mqtt-bridge): implement virtual serial port manager for E2E testing
  packages/mqtt-bridge/jest.config.cjs
  packages/mqtt-bridge/test/e2e/helpers/virtual-ports.test.ts
  packages/mqtt-bridge/test/e2e/helpers/virtual-ports.ts
  packages/mqtt-bridge/tsconfig.lint.json
Due: prettier --write, eslint --fix

fix(e2e): address review findings for test reliability and configuration
  .github/workflows/e2e-tests.yml
  tests/e2e/DESIGN.md
  tests/e2e/docker-compose.yml
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/fixtures/emulators/port1-single-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/run-tests.sh
  tests/e2e/setup/cleanup.sh
  tests/e2e/tests/01-environment.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

feat(ci): add scheduled E2E integration testing workflow
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix(emulator): disable port locking for socat PTY compatibility
  packages/emulator/src/transports/rtu.ts
Due: prettier --write, eslint --fix

fix(e2e): disable port locking in emulator configs for socat PTY compatibility
  tests/e2e/fixtures/emulators/port1-single-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
Due: prettier --write

refactor(emulator): move Modbus protocol helpers to utils folder
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.ts
  packages/emulator/src/utils/modbus-protocol-helpers.test.ts
  packages/emulator/src/utils/modbus-protocol-helpers.ts
Due: prettier --write, eslint --fix

refactor(emulator): extract Modbus protocol helpers from transports (#266)
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.ts
  packages/emulator/src/utils/modbus-protocol-helpers.test.ts
  packages/emulator/src/utils/modbus-protocol-helpers.ts
Due: prettier --write, eslint --fix

docs(emulator): add missing basic-tcp.yaml example
  packages/emulator/examples/config-files/basic-tcp.yaml
Due: prettier --write

revert: remove port locking comments from RTU transport
  packages/emulator/src/transports/rtu.ts
Due: prettier --write, eslint --fix

docs(e2e): add device type descriptions to emulator fixtures
  tests/e2e/fixtures/emulators/port1-single-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
Due: prettier --write

refactor(e2e): move zombie-aware shutdown logic into stop_test_emulator helper
  tests/e2e/tests/02-emulator.bats
  tests/e2e/tests/helpers.bash
Due: none

feat(scripts): add npm script to run E2E tests
  package.json
Due: prettier --write

docs(emulator): add missing basic-tcp.yaml example (#269)
  packages/emulator/examples/config-files/basic-tcp.yaml
Due: prettier --write

fix(emulator): remove event listeners in TCP transport stop()
  packages/emulator/src/transports/tcp.test.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

fix(emulator): remove event listeners in RTU transport stop()
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/rtu.ts
Due: prettier --write, eslint --fix

fix(emulator): use EventEmitter.prototype for removeAllListeners
  packages/emulator/src/transports/rtu.ts
  packages/emulator/src/transports/tcp.ts
Due: prettier --write, eslint --fix

test(emulator): strengthen event listener cleanup test assertions
  packages/emulator/src/transports/rtu.test.ts
  packages/emulator/src/transports/tcp.test.ts
Due: prettier --write, eslint --fix
