Repository groupsky/ya-modbus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(mqtt-bridge): include devices field in loadConfig()
  packages/mqtt-bridge/src/utils/config.test.ts
  packages/mqtt-bridge/src/utils/config.ts
Due: prettier --write, eslint --fix

fix(mqtt-bridge): align device validation schemas with TypeScript types
  packages/mqtt-bridge/src/utils/device-validation.test.ts
  packages/mqtt-bridge/src/utils/device-validation.ts
Due: prettier --write, eslint --fix

fix(mqtt-bridge): load devices from config and fix type safety (#352)
  packages/mqtt-bridge/src/utils/config.test.ts
  packages/mqtt-bridge/src/utils/config.ts
  packages/mqtt-bridge/src/utils/device-validation.test.ts
  packages/mqtt-bridge/src/utils/device-validation.ts
Due: prettier --write, eslint --fix

test(e2e): add MQTT bridge E2E tests
  tests/e2e/fixtures/bridge-config-multi-device.json
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/tests/03-mqtt-bridge.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

test(e2e): improve mqtt-bridge test reliability and performance
  tests/e2e/fixtures/bridge-config-multi-device.json
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/fixtures/emulators/port1-single-device-alt.json
  tests/e2e/tests/03-mqtt-bridge.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

test(e2e): fix device compatibility and add JSON validation
  tests/e2e/fixtures/bridge-config-multi-device.json
  tests/e2e/fixtures/emulators/port2-multi-device.json
  tests/e2e/tests/03-mqtt-bridge.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

test(e2e): optimize test speed and fix multi-device/reconnection tests
  packages/driver-types/src/transport.ts
  packages/transport/src/create-modbus-transport.ts
  packages/transport/src/manager.ts
  packages/transport/src/mutex-transport.ts
  packages/transport/src/slaveid-transport.ts
  tests/e2e/fixtures/bridge-config-multi-device.json
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/tests/03-mqtt-bridge.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write, eslint --fix

revert: remove multi-device transport fix, skip test for separate PR
  packages/driver-types/src/transport.ts
  packages/transport/src/create-modbus-transport.ts
  packages/transport/src/manager.ts
  packages/transport/src/mutex-transport.ts
  packages/transport/src/slaveid-transport.ts
  tests/e2e/tests/03-mqtt-bridge.bats
Due: prettier --write, eslint --fix

test(e2e): add MQTT bridge E2E tests (#336)
  tests/e2e/fixtures/bridge-config-multi-device.json
  tests/e2e/fixtures/bridge-config.json
  tests/e2e/fixtures/emulators/port1-single-device-alt.json
  tests/e2e/tests/03-mqtt-bridge.bats
  tests/e2e/tests/helpers.bash
Due: prettier --write

docs(transport): document shared resource ownership and close() behavior
  packages/transport/src/manager.ts
  packages/transport/src/slave-transport.ts
Due: prettier --write, eslint --fix

fix(transport): multiple devices on same bus use correct slave ID
  packages/transport/src/index.ts
  packages/transport/src/manager.test.ts
  packages/transport/src/manager.ts
  packages/transport/src/slave-transport.test.ts
  packages/transport/src/slave-transport.ts
Due: prettier --write, eslint --fix

test(e2e): enable multiple devices test
  tests/e2e/tests/03-mqtt-bridge.bats
Due: none

fix(build): set executable permissions on CLI bin files after compilation
  docs/agents/package-creation.md
  packages/cli/package.json
  packages/device-profiler/package.json
  packages/mqtt-bridge/package.json
Due: prettier --write

docs: add CLI package section and shebang requirement
  docs/NEW-PACKAGE.md
  docs/agents/package-creation.md
Due: prettier --write

fix(build): set executable permissions on CLI bin files (#359)
  docs/NEW-PACKAGE.md
  docs/agents/package-creation.md
  packages/cli/package.json
  packages/device-profiler/package.json
  packages/mqtt-bridge/package.json
Due: prettier --write

feat(emulator): standardize bin build process for consistency
  packages/emulator/package.json
  packages/emulator/tsconfig.json
Due: prettier --write

fix(transport): multiple devices on same bus use correct slave ID (#235)
  packages/transport/src/index.ts
  packages/transport/src/manager.test.ts
  packages/transport/src/manager.ts
  packages/transport/src/slave-transport.test.ts
  packages/transport/src/slave-transport.ts
  tests/e2e/tests/03-mqtt-bridge.bats
Due: prettier --write, eslint --fix

feat(emulator): standardize bin build process for consistency (#365)
  packages/emulator/package.json
  packages/emulator/tsconfig.json
Due: prettier --write

test(e2e): add device-profiler register scanning tests
  tests/e2e/tests/05-device-profiler.bats
Due: none

docs: clarify fixture register ranges and input register behavior
  tests/e2e/tests/05-device-profiler.bats
Due: none

fix(ci): pin actions and add permissions in dependabot-verify workflow
  .github/workflows/dependabot-verify.yml
Due: prettier --write

fix(ci): pin action in dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

fix(ci): pin actions and add permissions in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): pin actions in Claude Code workflow
  .github/workflows/claude.yml
Due: prettier --write

fix(ci): pin actions in Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: prettier --write

fix(ci): correct claude-code-action SHA to valid v1 commit
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --write

fix(ci): pin actions in release workflow
  .github/workflows/release.yml
Due: prettier --write

fix(ci): pin actions in CodeQL workflow
  .github/workflows/codeql.yml
Due: prettier --write

fix(ci): pin actions in E2E tests workflow
  .github/workflows/e2e-tests.yml
Due: prettier --write

docs(workflows): add GitHub Actions security guidelines
  docs/agents/workflows.md
Due: prettier --write

docs(workflows): remove code example per agent-docs guidelines
  docs/agents/workflows.md
Due: prettier --write

fix(ci): simplify action pinning rule to pin all actions
  .github/workflows/codeql.yml
  docs/agents/workflows.md
Due: prettier --write

docs(workflows): compact GitHub Actions security section
  docs/agents/workflows.md
Due: prettier --write

fix(ci): resolve GitHub Actions security alerts (#371)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-verify.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  docs/agents/workflows.md
Due: prettier --write

feat(device-profiler): add format CLI option for output selection
  packages/device-profiler/src/program.test.ts
  packages/device-profiler/src/program.ts
Due: prettier --write, eslint --fix

feat(device-profiler): add JSON output formatter
  packages/device-profiler/src/json-formatter.test.ts
  packages/device-profiler/src/json-formatter.ts
Due: prettier --write, eslint --fix

feat(device-profiler): integrate JSON formatter with CLI orchestration
  packages/device-profiler/src/cli.test.ts
  packages/device-profiler/src/cli.ts
  packages/device-profiler/src/program.ts
Due: prettier --write, eslint --fix

docs(device-profiler): document JSON output format in README
  packages/device-profiler/README.md
Due: prettier --write

refactor(device-profiler): use numeric values instead of hex strings in JSON
  packages/device-profiler/README.md
  packages/device-profiler/src/json-formatter.test.ts
  packages/device-profiler/src/json-formatter.ts
Due: prettier --write, eslint --fix

feat(device-profiler): add JSON output format (#377)
  packages/device-profiler/README.md
  packages/device-profiler/src/cli.test.ts
  packages/device-profiler/src/cli.ts
  packages/device-profiler/src/json-formatter.test.ts
  packages/device-profiler/src/json-formatter.ts
  packages/device-profiler/src/program.test.ts
  packages/device-profiler/src/program.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs,mjs})) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
